
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ab3b3b;
}

.main {
  display: flex;
  height: 100vh;
  align-items: center;
}

.quote {
  width: 500px;
  margin: 0 auto;
  padding: 35px 50px;

  background-color: #ffffff;
  border-radius: 15px;
}

.quote__btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 20px;

  border: none;
  background-color: #f77f7f;
  border-radius: 10px;
}

.quote__wrapper {
  display: flex;
  flex-direction: column;
}

.quote__text {
  font-size: 18px;
}

.quote__author {
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.social {
  display: flex;
  justify-content: center;
}

.social__twitter {
  display: block;
  padding: 10px;

  color: #fff;
  text-decoration: none;

  background-color: blue;

}
